

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Bb]in/
[Oo]bj/
[Ll]og/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
.vscode/
.git/
.dockerignore
.git/info/exclude
Api.DAL/.gitignore
PatientDataConsumer/.gitignore
MessageWorkerService/.gitignore
Api.Models/.gitignore
DoctorApi/.gitignore
PatientApi/.gitignore
